.description {
    display: block;
    max-width: 480px;
    width: 100%;
    margin-left: 30px;
    position: relative;
    left: 410px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    bottom: 115px;


}





@media screen and (max-width: 1280px) {
    .description {
        left: 410px;
        bottom: 115px;
    }
}

@media screen and (max-width: 600px) {
    .description {
        position: relative;
        max-width: 28%;
        left: auto;
        right: auto;
        transform: none;
        top: 120px;
        font-size: 16px;
        line-height: 163%;

    }
}

@media screen and (min-width: 601px) {
    .description {
        position: relative;
        margin-right: 480px;
    }
}

@media screen and (max-width: 426px) {
    .description {
        position: relative;
        margin-top: 20px;
        max-width: 30%;
        left: auto;
        right: auto;
        transform: none;
    }
}

@media (max-width: 320px) {
    .description {
        display: block;
        width: calc(30% - 40px);
        /* Adjust width */
        margin: 0 auto 20px auto;
        text-align: left;
        position: absolute;
        /* Adjust position */
    }

    .grid-item {
        margin-bottom: 20px;
        /* Adjust margin bottom */
    }
}