.description {
    display: block;
    grid-template-columns: 480px;
    grid-template-rows: 1fr;
    grid-area: desc;
    width: 484px;
    margin-left: 30px;
    position: relative;
    bottom: 1375px;
    left: 410px;
    margin-bottom: 1500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 50px;
}


@media screen and (max-width: 600px) {
    .description {
        margin-top: 20px;
        max-width: 25%;
        left: auto;
        right: 40px;
        bottom: 50px;
        transform: none;
    }

}