.header {
    position: relative;
    height: 68.94px;
    width: 100%;
    text-align: center;
}

.header__logo {
    height: 32px;
    width: 32px;
    margin-top: 20px;
}

.header__logo-text {
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .header {
        left: 20px;
    }

    .header__logo {
        height: 32px;
        width: 32px;
        margin-top: 20px;
    }

    .header__logo-text {
        margin-top: 20px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        left: 5px;
    }
}