.intro {
    position: absolute;
    left: 120px;
    max-width: 830px;
    margin: 0 auto;
    text-align: left;
}

.intro *,
.intro__title {
    text-align: left;
}

.intro__title {
    font-size: 54px;
    line-height: 120%;
}

.intro__text-one {
    font-size: 24px;
    line-height: 130%;
}

.intro__text-two,
.intro__text-three {
    font-size: 24px;
    line-height: 130%;
}

.intro__text-three {
    font-size: 16px;
    line-height: 140%;
}

@media screen and (max-width:2560px) {
    .intro {
        position: relative;
        left: 350px;
        transform: translateX(-50%);
        text-align: center;
    }

    .intro__text-two {
        text-align: right;
    }
}


@media screen and (max-width:1440px) {
    .intro {
        position: relative;
        left: 350px;
        transform: translateX(-50%);
        text-align: center;
    }

    .intro__text-two {
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    .intro {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .intro__text-two {
        text-align: right;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .intro__title {
        font-size: 45px;
        line-height: 49px;
    }

    .intro__text-two {
        text-align: right;
    }

}

@media screen and (max-width: 426px) {
    .intro {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}