.button-1 {
    position: relative;
    bottom: 400px;
    left: 25px;
}

.button-2 {
    position: relative;
    bottom: 420px;
    left: 15px;
}

.button-3 {
    position: relative;
    bottom: 550px;
    left: 15px;
}

.button-4 {
    position: relative;
    bottom: 550px;
    left: 0;
}

@media screen and (max-width: 600px) {

    .button-1,
    .button-2,
    .button-3,
    .button-4 {
        position: relative;
        top: 50px;
        left: 0;
    }
}